*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

ol,
ul {
  list-style: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Nunito", sans-serif;
}

%header-display-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

body > header {
  @extend %header-display-flex;
  padding: 1rem 2rem;
  box-shadow: rgba(137, 133, 133, 0.4) 0px 0px 15px 0px;
}

nav > ul {
  display: flex;
  flex-direction: row;
  gap: 3rem;
  justify-content: space-between;
  align-items: center;
}

nav > ul > li:hover {
  color: rgb(232, 79, 23);
  border-bottom: 4px solid rgb(232, 79, 23);
}

.buy-now-button {
  border: 2px solid rgb(232, 79, 23);
  padding: 1rem 2rem;
  border-radius: 0rem 30px 30px 30px;
}

.buy-now-button:hover {
  color: white;
  background-color: rgb(232, 79, 23);
}

header {
  img {
    height: 60px;
  }
}

header {
  nav {
    font-size: 1.2rem;
    font-weight: bold;
  }
}

main {
  padding: 2rem;
}

h1 {
  color: rgb(232, 79, 23);
  padding: 4rem 0rem 0rem 0rem;
  font-size: 1.5rem;
}

header {
}
p {
  font-size: 4rem;
  font-weight: bold;
  padding: 1rem 0rem;
}

main {
  header {
    display: flex;
    flex-direction: row;
    gap: 3rem;
    justify-content: space-between;
    align-items: center;
  }
}

main > header > nav {
  padding: 1.2rem 2rem;
  border-radius: 0rem 30px 30px 30px;
  color: white;
  background-color: rgb(232, 79, 23);
}

main > header > nav:hover {
  background-color: white;
  color: rgb(232, 79, 23);
  border: 2px solid rgb(232, 79, 23);
}

main > div {
  display: flex;
  justify-content: space-evenly;
  gap: 2rem;
}

main img {
  object-fit: cover;
  flex: auto;
  border-radius: 2rem;
}
